<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="nameProfile" class="form-control" id="name" placeholder="Enter name" required>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>

<div class="row">
  <p>
    Form Status: {{ profileForm.status }}
  </p>
</div>
